---
layout: home
author_profile: true
header:
  overlay_image: /assets/images/header.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

## 歡迎來到 Non-Pro Science

這是一個示範首頁。下方的文章列表將會自動抓取您 `_docs` 資料夾或 `_posts` 資料夾內的內容。

### 最新文章

{% for post in site.posts limit:5 %}
  * [{{ post.title }}]({{ post.url }})
{% endfor %}

### 文件集 (Collections)

{% for collection in site.collections %}
  {% unless collection.label == 'posts' %}
    <h4>{{ collection.label }}</h4>
    <ul>
      {% for doc in collection.docs %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
      {% endfor %}
    </ul>
  {% endunless %}
{% endfor %}
